 <!-- Details page -->
 <section id="details">

    <div id="details-wrapper">

        <img id="details-img" src="../../../assets/sad-pup.gif" alt="example1" />

        <div class="center">

        
            <h1> Sad to see you go ... </h1>


        </div>

      <!--Delete of go back to Dashboard-->
      <div id="action-buttons">

        <a href="" id="action-buttons" [routerLink]="['/' + paths.profile]"> Back </a>
        <a href="" id="action-buttons" (click)="deleteUser()"> Goodbye! </a>
        
      </div>


    </div>


  </section>
