 <!-- Details page -->
 <section id="details">

    <div id="details-wrapper">

      <ng-template #hasLogo>

        <img id="details-img" src={{this.currentJob.picture_url}} alt="example1" />

      </ng-template>

      <ng-template #noLogo>

        <img id="details-img" src="../../../assets/example1.png" alt="example1" />

      </ng-template>

      <ng-container *ngTemplateOutlet="this.currentJob.picture_url ? hasLogo : noLogo"></ng-container>
        
      
      <p id="details-title">{{this.currentJob.title}}</p>
      <p id="details-category">
        Category: <span id="categories">{{this.currentJob.category}}</span>
      </p>
      <p id="details-salary">
        Salary: <span id="salary-number"> {{this.currentJob.title}}</span>
      </p>

      <div id="info-wrapper">
        <div id="details-description">
          <h4>Description</h4>
          <span>

            {{this.currentJob.description}}
            
          </span>

        </div>

        <div id="details-requirements">
          <h4>Requirements</h4>

          <span>

            {{this.currentJob.category}}
            
          </span>

        </div>
      </div>

      <!-- <p>Applications: <strong id="applications">1</strong></p> -->

      <!--Edit and Delete are only for creator-->


      <ng-template #canEdit>

        <div id="action-buttons">
          <a id="edit-btn" [routerLink]="['/' + this.paths.editJob, this.currentJob.id]">Edit</a>
          <a id="delete-btn"[routerLink]="['/' + this.paths.deleteJob, this.currentJob.id]">Delete</a>
        </div>

      </ng-template>


      <ng-template #canOnlyView>

        <div id="action-buttons" *ngIf='isJobSeeker'>
          <a href="" id="apply-btn">Apply</a> 
        </div>

      </ng-template>


      <ng-container *ngTemplateOutlet=" isOwner || isAdmin ?  canEdit : canOnlyView "></ng-container>


    </div>
  </section>

  