
#home {
    margin-top: 170px;
  }
  
  #home img {
    display: block;
    margin: auto;
    height: 40%;
    width: 40%;
    background-color: transparent;
  }
  
  #home h2,
  #home h3 {
    font-style: italic;
    font-size: 27px;
    color: rgb(12 100 120);
    text-align: center;
  }