 <!-- Details page -->
 <section id="details">

    <div id="details-wrapper">

        <img id="details-img" src="../../../assets/delete.gif" alt="example1" />

        <div class="center">

        
            <h1>How sure are you about this ? </h1>


        </div>

      <!--Delete of go back to Dashboard-->
      <div id="action-buttons">

        <a href="" id="action-buttons" [routerLink]="['/' + paths.dashboard]">Not at all</a>
        <a href="" id="action-buttons" (click)="deleteJob()">I'm certain</a>
        
      </div>


    </div>


  </section>